<div>
    <h3>Project Edit</h3>
    <br />
    <form role="form" name="editProjectForm">
        <div class="alert alert-danger" role="alert" ng-show="err">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error: </span> {{err}}
        </div>
        <div class="form-group">
            <label for="name">Project Name:</label>
            <div ng-show="!editModeName" ng-click="editModeName= true">{{project.name}}</div>
            <input ng-show="editModeName" type="text" ng-model="project.name" class="form-control" id="name"
                placeholder="Project Name" name="projectName" required>
            <p style="color:red" ng-show="editProjectForm.projectName.$touched && editProjectForm.projectName.$invalid"
                class="help-block"> Name cannot be empty </p>
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <div ng-show="!editModeState" ng-click="editModeState= true">{{project.state || "state"}}</div>
            <input ng-show="editModeState" type="text" class="form-control" id="state" ng-model="project.state">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <div ng-show="!editModeDescription" ng-click="editModeDescription= true">{{project.description}}</div>
            <div ng-show="editModeDescription">
                <textarea class="form-control" name="description" id="description" cols="30" rows="5"
                    ng-model="project.description"></textarea>

            </div>
        </div>
        <div>Updated At: {{project.createdAt}}</div>
        <div>Created: {{project.createdAt}}</div>
        <button ng-disabled="!editModeName && !editModeState && !editModeDescription" type="submit" class="btn btn-success" ng-click="saveProject(editProjectForm)">Save</button>
        <button ng-disabled="!editModeName && !editModeState && !editModeDescription" type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </form>
</div>